
<section class="recipe-little-card">
<<<<<<< HEAD
  <a href="/recipes/{{id}}" class="recipe-card-title">
    {{recipe_name}}
=======
  <a href='/recipes/{{id}}'>
     <img class="recipe-img" src="{{img_name}}"><br>
     <span class="recipe-card-title">
     {{recipe_name}}
     </span>
     <br>
     <span class="cb-descr">{{description}}</span>
>>>>>>> 1f4fd88532a71b94a3f77cdebe0f9b606fd64b5a
  </a>
  
  <br>
  
</section>